/* CONFIGURAÇÃO GERAL DA PÁGINA */

body {
    background-color: #FAF6F2;
    color: #302530;

    background-color: #FAF6F2;
    color: #302530;
    font-family: "Poppins", sans-serif;
}




/* COR do CABEÇALHO DO SITE */

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

    background: hsla(298, 52%, 32%, 1);
    background: linear-gradient(315deg, hsla(298, 52%, 32%, 1) 40%, hsla(298, 34%, 46%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(298, 52%, 32%, 1) 40%, hsla(298, 34%, 46%, 1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(298, 52%, 32%, 1) 40%, hsla(298, 34%, 46%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7A287D", endColorstr="#9B4D9E", GradientType=1);
}


/* LOGO E NOME DO SITE */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

/*Logo e Titulo "Ana Ju" no rodapé*/


/* TÍTULO PRINCIPAL */

h1{
    color: #ffffff;
    font-size: 30px;
    margin: 0;
}


/* MENU DE NAVEGAÇÃO */

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    color: #030303;
}


/* CONFIGURAÇÃO GERAL DAS SEÇÕES */

section {
    padding: 40px;
}

h2 {
    color: #7A287D;
    font-size: 30px;
}


/* SEÇÃO INICIAL */

#inicio {
    display: flex;
    align-items: center;
    gap: 40px;

    /* Imagem de fundo da seção inicial */
    background-image: url("../Imagens/img.fundo.png");
    background-size: cover;
    background-position: center;
    min-height: 430px;
   
}

#inicio h2 {
    font-size: 45px;
    color: #7A287D;
}

#inicio p {
    font-size: 18px;
    line-height: 1.6;
    color: #302530;
    max-width: 650px;
}

.inicio-texto {
    max-width: 650px;
    margin-left: 20%;
}

/* SEÇÃO SOBRE NÓS */

.sobre-conteudo {
    display: flex;
    align-items: center;
    gap: 50px;
}

.sobre-imagem img {
    width: 350px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
}

.sobre-texto {
    max-width: 600px;
}

.sobre-texto h3 {
    color: #7A287D;
    font-size: 28px;
}

.sobre-texto p {
    font-size: 18px;
    line-height: 1.6;
}

/* BOTÕES */

button {
    background-color: #7A287D;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #7A287D;
}


/* TÍTULOS CENTRALIZADOS */

.Hdiferente {
    text-align: center;
}


/* SEÇÃO DE SERVIÇOS */

.container-cards {
    display: flex;
    gap: 20px;
}

.card {
    background: hsla(298, 52%, 32%, 1);
    background: linear-gradient(315deg, hsla(298, 52%, 32%, 1) 40%, hsla(298, 34%, 46%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(298, 52%, 32%, 1) 40%, hsla(298, 34%, 46%, 1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(298, 52%, 32%, 1) 40%, hsla(298, 34%, 46%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7A287D", endColorstr="#9B4D9E", GradientType=1);

    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

.card h3 {
    color: white;
}

.card:hover {
    transform: translateY(-10px);
}


/* SEÇÃO DA GALERIA */

.galeria-imagens {
    display: flex;
    gap: 20px;
    justify-content: center;
}


/* CONFIGURAÇÃO GERAL DAS IMAGENS */

img {
    width: 300px;
    border-radius: 15px;
}


/* FOTOS DA GALERIA */

.foto {
    width: 300px;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.foto:hover img {
    transform: scale(1.08);
}


/* SEÇÃO DE CONTATO */

#contato {
    max-width: 700px;
    margin: 0 auto;
}


/* FORMULÁRIO DE CONTATO */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* CAMPOS DO FORMULÁRIO */

input,
textarea {
    padding: 12px;
    border: 1px solid #555555;
    border-radius: 8px;
    background-color: #222222;
    color: white;
    font-size: 16px;
}

/*/////Rodapé/////*/
footer {
    width: 100%;
    bottom: 0;
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;  
    
    background: linear-gradient(315deg, hsla(298, 52%, 32%, 1) 40%, hsla(298, 34%, 46%, 1) 100%);

    background: -moz-linear-gradient(315deg, hsla(298, 52%, 32%, 1) 40%, hsla(298, 34%, 46%, 1) 100%);

    background: -webkit-linear-gradient(315deg, hsla(298, 52%, 32%, 1) 40%, hsla(298, 34%, 46%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7A287D", endColorstr="#9B4D9E", GradientType=1);

    
}

.caixa-rodape {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.rodape {
    flex-basis: 25%;
    padding: 10px;
    display:flex ;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-between ;
}



.rodape-texo{
    border: 10px black none;
    text-align: center;

}


/* RESPONSIVIDADE PARA TELAS MENORES */

@media (max-width: 768px) {

    .container-cards {
        flex-direction: column;
    }

    .galeria-imagens {
        flex-direction: column;
        align-items: center;
    }

}